.row
  .col-sm-6.col-sm-offset-3
    %h1 Donate
    %p Loomio is a social enterpise. Donate to help it go faster!
    %p
      %strong Donate with Paypal
      %br
      %button.btn-primary.btn
        Donate
    %p
      %strong Donate with Bitcoin
      %br
      1NZUad77HN5KwHCmQGZGN1VpCyrqXYSpYK
