.row
  .col-sm-12
    .jumbotron
      %h1
        Loomio
        .small collaborative decision-making

      %p.lead Loomio is a tool for communities and organisations to make decisions together without having to meet.
      %form.form-inline
        .form-group
          %input.form-control{placeholder: "Your name"}
        .form-group
          %input.form-control{placeholder: "Email address"}
        %a.btn.btn-primary{href: start_path} Sign up
.row
  .col-sm-8.col-sm-offset-2
    .blockquote
      %p.lead
        "I used Loomio this one time and it made my life complete!"
        %small &mdash; Someone Famous
    .text-right
      %a what other people are saying about Loomio >

.row
  %br
  %br

.row
  .col-sm-12
    .row.well
      .col-sm-4
        %h3 Talk things through
      .col-sm-4
        %h3 Propose a course of action
      .col-sm-4
        %h3 Decide together
      .col-sm-12
        .text-right
          %a more about how Loomio works >
.row
  %br
  %br

.row
  .col-sm-3.col-sm-offset-3
    =image_tag "globe.png"
  .col-sm-6
    %h3
      64,329 people have made
    %h3
      22,736 decisions on Loomio
    %h3
      in
      %a 31 languages

.row
  %br
  %br

.row
  .col-sm-12
    .row.well
      .col-sm-3
        %h3 Community
        %p folks are making decisions between meetings
      .col-sm-3
        %h3 Government
        %p the city council engaged citizens in policy development
      .col-sm-3
        %h3 Business
        %p involve stakeholders across timezones
      .col-sm-3
        %h3 Citizens
        %p local assemblies supported by digital space
      .col-sm-12
        .text-right
          %a more stories >


.row
  %br
  %br

.row
  .col-sm-8.col-sm-offset-2
    %h2 Everyone affected by a decision should have a say in making it
    %p
      Loomio is built by a small team of open-source developers and social justice activists working at
      %a Enspiral
      in Aotearoa New Zealand, with a wider network of friends, supporters and advisors all over the world.
    .text-right
      %a more about us >

.row
  %br
  %br

.row
  .well
    %form.form-inline
      .form-group
        %input.form-control{placeholder: "Your name"}
      .form-group
        %input.form-control{placeholder: "Email address"}
      %a.btn.btn-primary{href: 'start_path'} Sign up