.jumbotron
  .row
    .col-sm-3
      %br
      %br
      =image_tag "globe.png"
    .col-sm-9
      %h1
        Loomio
        .small better decisions together

      %p.lead
        Loomio is the easiest way for organisations and communities
        %br
        to
        %strong
          make decisions together
        wherever people are.
      %p
        %a.btn.btn-success.btn-lg{href: startv3_path} Get started for free



.row
  .col-sm-12
    .panel-body
      %h3.text-center Loomio turns discussion into action
      .row
        .col-sm-4.text-center
          = image_tag "one.png"
          %h4 Talk things through
        .col-sm-4.text-center
          = image_tag "two.png"
          %h4 Propose a course of action
        .col-sm-4.text-center
          = image_tag "three.png"
          %h4 Decide together
  .col-sm-12
    .text-right
      %p.lead
        %br
        %a more about how Loomio works >
        %br

.row
  %br
  %br

.row
  .col-sm-12
    .row.well
      .col-sm-3
        %h3 Community
        %p folks are making decisions between meetings
      .col-sm-3
        %h3 Government
        %p the city council engaged citizens in policy development
      .col-sm-3
        %h3 Business
        %p involve stakeholders across timezones
      .col-sm-3
        %h3 Citizens
        %p local assemblies supported by digital space
      .col-sm-12
        .text-right
          %p.lead
            %br
            %a more stories >


.row
  %br
  %br

.row
  .col-sm-3.col-sm-offset-3
    =image_tag "globe.png"
  .col-sm-6
    %h3
      64,329 people have made
    %h3
      22,736 decisions on Loomio
    %h3
      in
      %a 31 languages





.row
  %br
  %br

.row
  .col-sm-10.col-sm-offset-1
    .blockquote
      %p.lead
        %em
          "Loomio is fantastic! Such a brilliant tool that is allowing us to draw feedback from members and give those who are quite reserved at physical meetings a stronger voice."
        %br
        %small &mdash; Peter Boyd, Dargaville Arts Association
    .text-right
      %a{href: 'https://twitter.com/Loomio/timelines/564264041497894912'} what other people are saying about Loomio >


.row
  %br
  %br

.row
  .col-sm-8.col-sm-offset-2
    %h2 Everyone affected by a decision should have a say in making it
    %p
      Loomio is built by a small team of open-source developers and social justice activists working at
      %a Enspiral
      in Aotearoa New Zealand, with a wider network of friends, supporters and advisors all over the world.
    .text-right
      %p.lead
        %br
        %a more about us >

.row
  %br
  %br

.row.well
  .col-sm-4.text-right
    %p.lead{style: 'margin-bottom: 0'} Get started with Loomio:
  .col-sm-8
    %form.form-inline
      .form-group
        %input.form-control{placeholder: "Your name"}
      .form-group
        %input.form-control{placeholder: "Email address"}
      %a.btn.btn-primary{href: startv3_path} Sign up for free