.row
  .col-md-6.col-md-offset-3
    %h1 Pricing

    %h3 Loomio for organisations
    %p
      If you're using Loomio in a company, formal organisation or workplace, you'll be charged a monthly subscription of US$2 per person after a
      %strong 30-day free trial.
    %p
      More than 100 members? We have plans for larger organisations.
      %a#pricing-page-contact-link{href: '#'} Contact us.

    %p
      Additionally, we offer training, engagement design, facilitation, software customisation, and premium support services to business, community, and goverment clients in NZ and the USA.

    .text-right
      %a{href: services_path} More about these services >


    %h3 Loomio for communities
    %p We're committed to the principle that money will never be a barrier for people using Loomio to do great stuff in their communities.
    %p If your group doesn't have the budget to pay for software, you don't need to pay a subscription. However, we will occasionally ask your group members for a donation.
    %p &nbsp;
    %p
      %a.btn.btn-success.btn-lg#pricing-page-start-link{href: startv3_path} Get started

