.row
  .col-sm-6.col-sm-offset-3
    %h1 Services
    %br

    %p.lead We sell a range of consulting services to organisations that want to collaborate more effectively.

    %label Discovery Workshops
    %p
      Facilitate stakeholders to clarify what success looks like and develop the best way to get there together, including process design and outreach strategies. Full day $1500, half day $800.

    %label Training Workshops
    %p
      Expert user training for Loomio, and capacity building for online facilitation. Empowering you to host great deliberations on Loomio. Includes followup coaching by phone/email. 2-hour workshop for 10 people, $1000
      %ul
        %li Expert User Training -- Any participant
        %li Loomio Facilitation Training -- In-house facilitators

    %label Group Setup
    %p Creating your Loomio group including privacy and participation permissions to match your use case, crafting the group description, inviting in users, seeding the initial discussions, doing initial facilitation. Get the group up and going effectively. Small group $800, Large group $1500

    %label Online Facilitation
    %p Loomio experts are part of the group, helping people be constructive, focused, and creating a productive space for deliberation. Maintaining a safe and neutral environment. Resolving conflict. Keeping the process moving forward. Answering questions about features. $150/hour.

    %label Engagement Consulting
    %p Advice and help to do outreach (internally or with the public). Comms and social media, web presence for your collaboration community, and how to craft messaging about participation for great outcomes. $150/hr

    %label Custom Group
    %p Giving you a custom Loomio address, changing the colors and images to match your brand, creating a space that's uniquely yours, powered by Loomio. Premium technical support (for groups with specific IT security regulations etc). $1000.

    %br

    %p.lead We have collaboration coaches in NZ and the USA, ready to help your group get the most out of Loomio.

    %a.btn.btn-primary Contact us for a quote