.row
  .col-sm-6.col-sm-offset-3
    %h1 Services
    %br

    %p We sell training, engagement design, facilitation, software customisation, and premium support services.
    %a.btn.btn-primary Contact us for a quote