.row
  .col-sm-6.col-sm-offset-3
    %h1 Start a group (v0.3)
    %p.lead To make decisions together with people on Loomio, you'll need to set up a group:
    %form#form
      .form-group
        %label What is the name of your group?
        %input.form-control{placeholder: "E.g. Mean Millie's Motorcyle Gang for Mums"}

      .form-group
        %label How big is your group?
        %select.form-control#size
          %option{value: '0'} - Please select a group size -
          %option{value: '20'} up to 25 people
          %option{value: '40'} 25-50 people
          %option{value: '80'} 50-100 people
          %option{value: '160'} 100-200 people
          %option{value: '200'} more than 200 people

      .form-group

        %label What kind of group is it?
        %select.form-control#type
          %option{value: '0'} - Please select a group type -
          %option{value: 'formal'} Formal organisation - we have a budget
          %option{value: 'informal'} Informal community - we don't have the budget to pay for software

      .form-group
        %p Organisations with a budget pay to use Loomio, which means we can give it away free to communities that can’t pay for software.

      .form-group#high-touch
        %p For large groups like yours, we're happy to negotiate a discounted subscription.
        %p
          %a.btn.btn-primary{} Ask for a quote

      .form-group#formal
        %p
          The subscription for a group of your size is
          %strong
            = surround '$', '/month' do
              %span#price 40
        %p
          %a.btn.btn-primary{} Start your 30 day free trial

      .form-group#informal
        %p You won't be charged a group subscription fee. However, your group members may occasionally be asked for a donation.
        %p
          %a.btn.btn-primary{} Start your free group



