.row
  .col-sm-6.col-sm-offset-3
    %h1 Start a group (v0.1)
    %p.lead To make decisions together with people on Loomio, you'll need to set up a group:

    .form-group
      %label What is the name of your group?
      %input.form-control{placeholder: "E.g. Mean Millie's Motorcyle Gang for Mums"}

    .form-group
      %label What kind of group is it?
      .radio
        %label
          %input{type: 'radio', name: 'pay'}
          %strong Commercial
          groups pay a monthly subscription of $2 per person, after a 30-day free trial.
      .radio
        %label
          %input{type: 'radio', name: 'pay'}
          %strong Noncommercial
          use is free of charge. Occasionally your group members may be asked for a voluntary contribution.

    .text-right
      %a{href: pricing_path} find out more >

    %a.btn.btn-primary Start group
