.row
  .col-sm-6.col-sm-offset-3
    %h1 Start a group (v0.2)
    %p.lead To make decisions together with people on Loomio, you'll need to set up a group:

    .form-group
      %label What is the name of your group?
      %input.form-control{placeholder: "E.g. Mean Millie's Motorcyle Gang for Mums"}

    %label &hearts; Pay what you want
    %p Anyone can use Loomio. If you decide you're getting value out of it, you can pay what you feel it is worth.

    .text-right
      %a{href: pricing_path} find out more >

    %a.btn.btn-primary Start group
