.row
  .col-sm-6.col-sm-offset-3
    %h1 Start a group (v0.4)
    %p.lead To make decisions together with people on Loomio, you'll need to set up a group:

    %form.form-horizontal
      .form-group
        .col-sm-3
          %label.control-label Your name:
        .col-sm-8
          %input.form-control
      .form-group
        .col-sm-3
          %label.control-label Your email:
        .col-sm-8
          %input.form-control
      .form-group
        .col-sm-3
          %label.control-label Group name:
        .col-sm-8
          %input.form-control
      %br
      %p.lead ...and choose the plan that's right for you:

.row
  .col-md-5.col-md-offset-1
    .well
      %h3 Loomio for Organizations

      %h4 Features
      %ul
        %li custom URL
        %li premium support
        %li unlimited group size

      %h4 Pricing
      %ul
        %li
          up to 25 members
          %strong $20/month
        %li
          up to 50 members
          %strong $40/month
        %li
          up to 100 members
          %strong $80/month
        %li
          more than 100 members?
          %a Talk to us

      %p
        %a.btn.btn-primary{} Start your 30 day free trial

  .col-md-5
    .well
      %h3 Loomio for Communities
      %p Loomio is all about having a positive impact in the world.
      %p If your group is doing great stuff in your community, but money is a barrier, we want you to use Loomio for free.
      %p You won't be charged a subscription fee, but your group members will occasionally be asked for a donation.
      %br
      %p
        %a.btn.btn-primary{} Start your free group

