!!!
%html
%head
  %title Loomio
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  .container
    = yield
    .row
      %br
    .footer
      .row
        .col-md-6.col-md-offset-3.text-center
          %hr
          %a{href: root_path} Home
          &middot;
          %a About
          &middot;
          %a Blog
          &middot;
          %a Contact
          &middot;
          %a Help
          %br
          %a{href: pricing_path} Pricing
          &middot;
          %a{href: services_path} Services
          &middot;
          %a{href: donate_path} Donate
          &middot;
          %a Terms
          &middot;
          %a Press
          %br
          %a Roadmap
          &middot;
          %a Timeline
          &middot;
          %a Community
          &middot;
          %a Translation
          %br
          %a{href: 'http://github.com/loomio/loomio'} Github
          &middot;
          %a{href: 'http://enspiral.com'} Enspiral
          &middot;
          %a{href: 'http://facebook.com/loomio'} Facebook
          &middot;
          %a{href: 'http://twitter.com/loomio'} Twitter
  %br
